# based on https://github.com/fpgmaas/cookiecutter-uv/blob/1e083e824879e06003e82ad79e52f45eccde7561/.github/workflows/main.yml
name: Tests

on:
  - push
  - pull_request

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest] # issues w/ reboundx dependency on windows
        python-version: ["3.10", "3.11", "3.12", "3.13"]
      fail-fast: false
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v2
        with:
          version: 0.5.9
          enable-cache: "true"
          cache-suffix: ${{ matrix.python-version }}

      # - name: Install dependencies
      #   run: |
      #     uv sync --python ${{ matrix.python-version }} --group dev

      - name: Run tests
        run: |
          uv run tox

      - name: Upload coverage reports to Codecov with GitHub Action on Python 3.13 for Ubuntu
        uses: codecov/codecov-action@v5
        if: ${{ matrix.python-version == '3.13' }} && ${{ matrix.os == 'ubuntu-latest' }}
        with:
          token: ${{ secrets.CODECOV_TOKEN }}